body{
    height: 5000px;
  }
  /* Scroll To Top  */
.top {
    position: fixed;
    bottom: 30px;
    right: -100px;
    background-color: #a30bfc;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    font-family: arial, tahoma;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .top.show{
    right: 20px;
  }
  
  